header {
    background-color: blue;
    display: inline-block;
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
    margin-right: calc((100% - 600px) / 2);
}

main {
    background-color: blueviolet;
    display: inline-block;
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
    margin-right: calc((100% - 600px) / 2);
}

div > img {
    height: 80px;
}

main > img {
    height: 160px;
}